[Desktop Entry]
Categories=AudioVideo;Video;AudioVideoEditing;
Comment=Front-end for FFmpeg
Exec=feff
GenericName=feff
Icon=feff
Name=feff
StartupNotify=true
Terminal=false
Type=Application
