[Desktop Entry]
Categories=AudioVideo;Video;AudioVideoEditing;
Comment=Front-end for FFmpeg
Exec=feff
GenericName=GUI for FFmpeg
Icon=feff
Name=feff
StartupNotify=true
Terminal=false
Type=Application

# Translations
Comment[ru]=Графический интерфейс для FFmpeg
GenericName[ru]=ГУИ for FFmpeg

